{% extends "base.html" %}
{% load static %}

{% block content %}
<header>
    <div class="navbar container-fluid position-fixed top-0 start-0 py-2 px-5 d-flex flex-row justify-content-between align-items-center">
        <h1 class="m-0 logo">Swanbourne Village Store</h1>
        <img class="nav-logo" src="/media/rough-logo.jpeg" alt="image">
        <ul class="d-flex flex-row justify-content-center align-items-center list-unstyled">
            <li class="mx-5 letter-spacing nav-links">Home</li>
            <li class="mx-5 letter-spacing nav-links">Menu</li>
            <li class="mx-5 letter-spacing nav-links">Contact Us</li>
        </ul>
    </div>
</header>

    <div class="hero-image">
        <div class="home-intro container-1 m-0 container-fluid my-container d-flex flex-row justify-content-center align-items-end">
            <div class="box-shaddow-color-grey w-auto px-2 px-md-5 header-text text-center rounded-pill">
                <h1 class="m-5  user-select-none">Welcome to Swanbourne Village Store</h1>
            </div>
        </div>
    </div>

    <div class="container-6 m-0 container-fluid my-container d-flex flex-row justify-content-center align-items-center">

                <form class="border border-2 p-5 box-shaddow-color-red rounded-1 form">
                    <h2 class="mb-5 fs-1">Contact Us</h2>
                    <div class="mb-3">
                      <input type="email" class="text-medium form-control border border-2 p-2 box-shaddow-color-grey rounded-1 m-2" id="exampleInputEmail1" placeholder="Email Address" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                      <input type="password" class="text-medium form-control border border-2 p-2 box-shaddow-color-grey rounded-1 m-2" placeholder="Password" id="exampleInputPassword1">
                    </div>
                    <button type="submit" class="text-medium btn box-shaddow-color-grey card-grey m-5">Login</button>
                  </form>
    </div>

    <div class="container-5 m-0 container-fluid my-container d-flex flex-row justify-content-center align-items-center">
        <div class="card card-red box-shaddow-color-charcol w-25 m-5">
            <h1 class="m-5">Swanbourne Village Store</h1>
        </div>
        <div class="card card-grey box-shaddow-color-charcol w-25 m-5">
            <h1 class="m-5">Swanbourne Village Store</h1>
        </div>
        <div class="card card-black box-shaddow-color-charcol w-25 m-5">
            <h1 class="m-5">Swanbourne Village Store</h1>
        </div>
    </div>

    <div class="container-2 m-0 container-fluid my-container d-flex flex-row justify-content-center align-items-center">
        <div class="card card-white box-shaddow-color-white w-25 m-5">
            <h1 class="m-5">Swanbourne Village Store</h1>
        </div>
        <div class="card card-grey box-shaddow-color-white w-25 m-5">
            <h1 class="m-5">Swanbourne Village Store</h1>
        </div>
        <div class="card card-charcol text-white box-shaddow-color-white w-25 m-5">
            <h1 class="m-5">Swanbourne Village Store</h1>
        </div>
    </div>

    <div class="container-3 m-0 container-fluid my-container d-flex flex-row justify-content-center align-items-center">
        <div class="card card-red box-shaddow-color-charcol w-25 m-5">
            <h1 class="m-5">Swanbourne Village Store</h1>
        </div>
        <div class="card card-black box-shaddow-color-charcol w-25 m-5">
            <h1 class="m-5">Swanbourne Village Store</h1>
        </div>
        <div class="card card-white box-shaddow-color-charcol w-25 m-5">
            <h1 class="m-5">Swanbourne Village Store</h1>
        </div>
    </div>
{% endblock %}


{% block extra_js %}
{{ block.super }}
<script type="text/javascript">

window.onload = function(){
    // https://github.com/kevin-powell/navbar-change-on-scroll

    const header = document.querySelector(".navbar");
    const sectionOne = document.querySelector(".home-intro");
    const navLogo = document.querySelector(".nav-logo");
    const logo = document.querySelector(".logo");


    const sectionOneOptions = {
    rootMargin: "-150px 0px 0px 0px"
    };

    const sectionOneObserver = new IntersectionObserver(function(
    entries
    ) {
    entries.forEach(entry => {
        if (!entry.isIntersecting) {
        header.classList.add("nav-scrolled");
        logo.style.display ='none';
        navLogo.style.display ='block';
        } else {
        header.classList.remove("nav-scrolled");
        logo.style.display ='block';
        navLogo.style.display ='none';
        }
    });
    },
    sectionOneOptions);


    sectionOneObserver.observe(sectionOne);

};
</script>
{% endblock %}